{% extends "base.html" %}

{% block main%}

    <h1>Contact Form</h1>
    
    <p class="fill">Fill in this form to contact the site owners.</p>
    
    <form class="classForm" action="{{ url_for('contact') }}" method="POST">
       
       {{ form.csrf_token }} 
       
       <div class="formInfo">
           {{ form.name.label }} <span class="required"> (Required)</span>
           <p>Please enter your full name</p>
           {{ form.name(size=40) }}
       </div>
       
       <div class="formInfo">
            {{ form.email.label }} <span class="required"> (Required)</span>
            <p>Please enter your e-mail address</p>
            {{ form.email(size=40) }}
       </div>
        
        <div class="formInfo" >
            {{ form.subject.label }} <span class="required"> (Required)</span>
            <p> Please enter the subject for your message.</p>
            {{ form.subject(size=40) }}
        </div>
        
        <div class="formInfo" >
            {{ form.message.label }} <span class="required"> (Required)</span>
            <p>Please enter the message you would like to send.</p>
            {{ form.message(size=40) }}
        </div>
        
        <button type="submit" class="btn">Send</button>
        
    </form>
{% endblock%}